body {
    font-family: Verdana, Tahoma, sans-serif;
}

/*
    Main block 
*/
.chat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 16px;
    grid-template-areas: "main main main rooms"
                         "main main main rooms"
                         "sender sender sender room-selector";
}

@media screen and (max-width: 800px) {
    /* Here we can use a flex conatiner */
    .chat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "main main"
                             "main main"
                             "sender sender";
    }
    
    .chat__rooms {
        display: none;
    }

    .chat__room-selector {
        display: none;
    }
}

/*
    Block elements
*/
.chat__main {
    grid-area: main;
}

.chat__rooms {
    grid-area: rooms;
}

.chat__sender {
    grid-area: sender;
}

.chat__room-selector {
    grid-area: room-selector;
}

.enrolment {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    padding-top: 16px;
}

.elronment__field {
    padding: 8px;
    margin-right: 16px;
}

.elronment__field-input {
    -moz-border-radius:2px;
	-webkit-border-radius:2px;
    border-radius:2px;
    border: 0.5px solid silver;
}

.enrolment__submit {
    background-color:#0dd117;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #0dd117;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:9px;
	padding:8px 16px;
	text-decoration:none;
    /* text-shadow:0px 1px 0px #528ecc; */
}

.rooms-container {
    list-style: none;
}

.messages-container {
    border: 1px solid silver;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 4px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.message-sender {
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.message-sender__text {
    width: 90%;
    margin-right: 5px;
    resize: none;
}

.message-sender__submit {
    background-color:#79bbff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:2px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}

.message-sender__submit--hover {
    background-color:#378de5;
}

.message-sender__submit--active {
    position:relative;
	top:1px;
}
